<!doctype html>
<html lang="en">
<head>
    <meta charset="UTF-8">
    <meta name="viewport"
          content="width=device-width, user-scalable=no, initial-scale=1.0, maximum-scale=1.0, minimum-scale=1.0">
    <meta http-equiv="X-UA-Compatible" content="ie=edge">

    <title>GitHub Commit History</title>

    <script src="https://cdn.tailwindcss.com"></script>

</head>
<body>
<div class="container mx-auto px-4">
    <h1 class="my-12 text-4xl font-bold">GitHub Commit History</h1>
    <ul class="">
        {{#each commits}}
            <li class="mt-4 mb-4">
                <div class="relative block p-8 overflow-hidden border border-gray-100 rounded-lg">
                    <span class="absolute inset-x-0 bottom-0 h-2 bg-gradient-to-r from-green-300 via-blue-500 to-purple-600"></span>

                    <div class="justify-between sm:flex">
                        <div>
                            <h5 class="text-xl font-bold text-gray-900">
                                {{this.commit.message}}
                            </h5>
                            <p class="mt-1 text-xs font-medium text-gray-600">By {{this.commit.author.name}} ( {{this.commit.author.email}} | {{this.author.login}} )</p>
                        </div>

                        <div class="flex-shrink-0 hidden ml-3 sm:block">
                            <img class="object-cover w-16 h-16 rounded-lg shadow-sm" src="{{this.author.avatar_url}}" alt="Avatar"/>
                        </div>
                    </div>

                    <dl class="flex mt-6">
                        <div class="flex flex-col-reverse">
                            <dt class="text-sm font-medium text-gray-600">Date</dt>
                            <dd class="text-xs text-gray-500">{{ this.commit.author.date }}</dd>
                        </div>

                        <div class="flex flex-col-reverse ml-3 sm:ml-6">
                            <dt class="text-sm font-medium text-gray-600">SHA</dt>
                            <dd class="text-xs text-gray-500">
                                <a href="{{this.html_url}}">
                                    {{this.sha}}
                                </a>
                            </dd>
                        </div>
                    </dl>
                </div>
            </li>
        {{/each}}
    </ul>
</div>
</body>
</html>